{% load static %}


{% block scripts %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock scripts %}

{% block content %}

{% load crispy_forms_tags %} 
{% load widget_tweaks %}

<body id="body">
	<div id="login-card" class="card">
		<div class="card-body">
            <h2 class="card-header">Password reset complete</h2>
            <br>
  			<p class="text-center">Your password has been set. You may go ahead and sign in now.</p>
              <a type="submit" id="button" href="/login" class="btn btn-primary deep-purple btn-block ">Sign in</a>
  			<br>
		</div>
	<div>
</body>
{% endblock content %}