{% load static %}


{% block scripts %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock scripts %}

{% block content %}

{% load crispy_forms_tags %} 
{% load widget_tweaks %}

<body id="body">
	<div id="login-card" class="card">
		<div class="card-body">
            <h2 class="card-header">Forgot password?</h2>
            <br>
            {% for message in messages %}
          <div class="container-fluid p-0" id="alert">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
              <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
              </button>
              {{ message }}
            </div>
          </div>
          {% endfor %}
  			<p class="text-center">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h2>
  			<br>
		</div>
	<div>
</body>
{% endblock content %}