{% load static %}


{% block scripts %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock scripts %}

{% block content %}

{% load crispy_forms_tags %} 
{% load widget_tweaks %}

<body id="body">
	<div id="login-card" class="card">
		<div class="card-body">
            <h2 class="card-header">Forgot password?</h2>
            <br>
  			<p class="text-center">Fill out your email address, and we’ll send you instructions to reset your password.</h2>
  			<br>
  			<form method="POST">
				{% csrf_token %}
    				<div class="form-group">
	  				{% render_field form.email class+="form-control" id+="email" placeholder+="Enter email" name+="email" %}
    			    </div>
    			<button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Email me some help</button>
				<br>
				<p class="text-center">Heads up! You may need to check your spam folder or unblock thinkingmeme2022@gmail.com.</p>
    			<br>
  			</form>
		</div>
	<div>
</body>
{% endblock content %}